html,body{
  background: #ebebeb;
}
.slick-track {
    display: flex;
    height: 2.11rem;
    width: 100%;
    background: #d00;
}

.ant-carousel {
    overflow: hidden;
    margin-top: 0.5rem;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 2.11rem;
    background: #364d79;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

.slick-track img{
  height:2.11rem;
}
.slick-list {
    background: #d00;
}

#content {
    height: 100%;
}
#root{
  background: #ebebeb;
}
.Home_list{
  background: #ebebeb;
  padding-top: 0.18rem;
}
.Home_list img{
  height:1.92rem;
  width:100%;
}
.Home_list li {
  padding: 0 17px 17px 17px;
  cursor: pointer;
  background: #ebebeb;
}

.List_bottom{
  height:0.5rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.15rem;
  padding-right: 0.15rem;
  box-shadow: 0.5px 0.5px 1px #a8a8a8;
}
.col_left{
  font-size: 12px;
    line-height: 15px;
    user-select: text;
    color: #333;
}
.col_left h4{
  font-size: 8px;
  color: #9a9a9a;
}
.List_bottom h2{
  color: #f78360;
  font-size: 18px;
}
.more-button {
    width: 160px;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 15px;
    margin: 10px auto 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #616161;
    cursor: pointer;
}
.dividing-line {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #a8a8a8;
}
.upcoming {
    width: 65px;
    height: 20px;
    margin: 0 auto;
    margin-bottom: -10px;
    border-radius: 5px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    color: #eee;
    background-color: #a7a7a7;
}
#time{
  font-size: 10px;
  color: RGB(245, 162, 125);
  line-height: 15px;
  height: 35px;
  padding-right: 0;
  padding-top: 10px;
  padding-left: 28px;
}
